snippet test
	Funktioniert das?




snippet main
	int main(int argc, char* argv[]) {
		return(0);
		}	


snippet for

	for(int i = 1; i < count; i++) {
	
	};


snippet cout
	std::cout << << std::endl;


snippet cin
	std::cin >> ;
